body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #282c34;
    color: #61dafb;
    position: relative; /*To position the date within the body */
}

.container {
    text-align: center;
}

.date-display {
    position: absolute; /*Position the date in a fixed location */
    top: 10px; /*Set the distance from the top of the page */
    right: 20px; /*Set the distance from the right of the page */
    font-size: 1.5em; /*Reduce the size slightly */
}

.time-display {
    font-size: 4em;
    margin-top: 10px;
}
